.mt-56 {
    margin-top: 56px;
}

.z-index-1000 {
    z-index: 1000;
}

.style-for-photo {
    .carousel-inner {
        .carousel-item{
            
            max-height: 50hv;
            img {
                
            }
        }

        
    }
}

